:root {
    --bg-color: rgba(250, 250, 250, 1);
    --main-color: rgba(28, 28, 28, 1);
    --neutral-gray: rgba(112, 112, 112, 1);
    --light-gray: rgba(224, 224, 224, 1);
    --medium-gray: rgba(158, 158, 158, 1);
    --main-hover-color: rgba(251, 243, 243, 1);
    --link-active-color: rgba(119, 119, 119, 1);
    --dark-mode-bg-color: rgba(28, 28, 28, 1);
    --dark-mode-main-color: rgba(250, 250, 250, 1);
    --accent-blue: rgba(59, 130, 246, 1);
    --accent-purple: rgba(221, 214, 254, 1);

    --link-color: rgba(88, 86, 214, 1);
}

:root.dark {
    --bg-color: rgba(28, 28, 28, 1);
    --main-color: rgba(250, 250, 250, 1);
    --neutral-gray: rgba(112, 112, 112, 1);
    --light-gray: rgba(224, 224, 224, 1);
    --medium-gray: rgba(158, 158, 158, 1);
    --main-hover-color: rgba(251, 243, 243, 0.2);
    --link-active-color: rgba(119, 119, 119, 1);
    --dark-mode-bg-color: rgba(250, 250, 250, 1);
    --dark-mode-main-color: rgba(28, 28, 28, 1);
    --accent-blue: rgba(96, 165, 250, 1);
    --accent-purple: rgba(180, 165, 255, 1);

    --link-color: rgba(180, 165, 255, 1);
}

html { font-size: 2.4vw; }

@media all and (min-width: 1000px) { html { font-size: 24px; } }
@media all and (max-width: 750px) { html{ font-size: 18px; } }

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    min-height: 100%;
    position: relative;
    z-index: -10000;
    background-color: var(--bg-color);
    color: var(--main-color);
}

div.main-content {
    padding: 3rem 0 18rem 0;
    margin-left: 12rem;
    margin-right: 2.5rem;
}

@media all and (max-width: 750px) {
    div.main-content {
        margin: 1.5rem;
        padding: 0;
    }
}
.title-block {
    display: block;
    position: absolute;
    float: left;
    left: 2.5rem;
    width: calc(2.5rem * 3);
    margin-left: 0;
    margin-bottom: 2em; /* Unified */
    padding-top: 5px;
    text-align: right;
    list-style-type: none;
    clear: both;
    border-top: 3px solid var(--main-color);
}

@media all and (max-width: 750px) {
    .title-block {
        position: static;
        float: none;
        width: 100%;
        text-align: left;
    }
}

.title-block .title {
    display: block;
    font-size: 125%;
    font-weight: bolder;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 0.75rem;
    padding-top: 0;
    border-top: none;
    hyphens: none;
    font-family: inherit;
}

.desc {
    display: block;
    font-style: italic;
    line-height: 1.25;
    margin-bottom: 1rem;
    hyphens: none;
}

.date, .tags {
    font-size: 0.75em;
}

/* List Options */
ol li, ul li {
    margin-left: 2.5rem;
}

ol, ul {
    margin-bottom: 1em;
}


/* Heading Options */

h2 {
  font-size: 2em;
  margin-bottom: 0.25rem;
}
h3 {
  font-size: 1.5em;
  margin-bottom: 0.1rem;
}
h4 {
  font-size: 1.25em;
  margin-bottom: 0.05rem;
}
h5 {
  font-size: 1em;
}

.main-content p {
    margin-bottom: 0.75em;
}

.main-content {
    line-height: 1.45;
    font-size: 0.9em;
}

div.nav-wrap {
    top: 0;
    bottom: 0;
    width: 2rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1000; /* ensure it’s on top */
}

div.nav-wrap.left {
    left: 0;
}

div.nav-wrap.right {
    right: 0;
}

.nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    pointer-events: auto;
}

.side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative; /* was fixed — now relative to .nav */
    border: solid 0px var(--light-gray);
    transition: border-color 0.2s;
}

.side span {
    color: var(--neutral-gray);
    font-size: 1rem;
    pointer-events: none; /* so the arrow doesn’t intercept clicks */
}

#prev {
    left: 0;
    border-left: 0rem solid var(--bg-color);
}

#prev:hover {
    border-left-color: var(--main-hover-color);
}

#next {
    right: 0;
    border-right: 0rem solid var(--bg-color);
}

#next:hover {
    border-right-color: var(--main-hover-color);
}

@media (max-width: 750px) {
  div.nav-wrap, .side {
    background-color: transparent;
    width: 10px;
  }

  .side span {
    display: none;
  }

  #prev {
    border-left: 2rem solid var();
  }

  #next {
    border-right: 2rem solid var(--bg-color);
  }
}


a {
    text-decoration: none;
    color: var(--link-color);
    transition-property: background;
    transition-duration: 0.2s;
    cursor: pointer;

    border-radius: 8px;
}

a:hover {
    background: var(--main-hover-color);
    transition-property: background;
    transition-duration: 0.2s;
}

a:visited {
    color: var(--neutral-gray);
}

div.nav-wrap a:active div {
    background: var(--main-hover-color);
}

a:active {
    color: var(--link-active-color);
}


/* Scrolling Options */
::-webkit-scrollbar {
    display: none;
}
html {
  scroll-behavior: smooth;
}

/* Math Options */
span.inline-equation {
    display: inline-block;
    width: fit-content;
}

p.block-equation {
    display: grid;
    place-items: center;
    overflow-x: auto;
}


/* Post Item Options */
.post-item {
    margin-bottom: 1rem;
}

.post-item p {
    margin-bottom: 0rem;
}

.post-title {
    font-size: 1.25em;
}

.post-prop, .post-desc {
    font-style: italic;
}

.post-tag, .tag {
    color: var(--link-color);
}

.about-me {
    margin-bottom: 2rem;
}

/* Toolbar Options */
.toolbar {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--bg-color);
    clear: both;
    position: fixed;
    z-index: 1;
    top: 0;
    opacity: 1;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.toolbar, .font-menu {
    left: 0;
    right: 0;
    line-height: 1.25;
    font-size: 0.9rem;
}

.font-menu {
    padding: 0.10em 0.25em 0.15em 0.25em;
}

@media (max-width: 750px) {
    .toolbar {
        margin: auto;
        left: 0;
        right: 0;
        max-width: 1000px;
        line-height: 1.25;
        font-size: 0.9rem;
        padding: 0.10em 0.25em 0.15em 0.25em;
    }
}

.font-menu {
    margin: auto;
    box-sizing: border-box;
    display: inline-block;
}

.font-toggle {
    display: inline-block;
    color: var(--medium-gray);
    padding: 0.2em;
}

.font-toggle:hover, .font-toggle.active {
    color: var(--main-color);
}

/* SVG styling */
.typst-doc * {
    fill: currentColor;
}

path.typst-shape {
    stroke: currentColor;
}

/* Default toggle style */
#darkModeToggle {
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 8px;
  display: inline-block;
}

/* Dark theme */
#darkModeToggle {
  background-color: var(--dark-mode-bg-color);
  color: var(--dark-mode-main-color);
}

#darkModeToggle:hover {
  color: var(--light-gray);
}

.dark #darkModeToggle:hover {
  color: var(--medium-gray);
}

.dark ::selection {
  background-color: var(--medium-gray);
  color: inherit; /* optional: keep text color as is */
}

/* text highlighting */
::selection {
  background-color: var(--light-gray);
  color: inherit; /* optional: keep text color as is */
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    margin: 1.25em 0;
    border: none;
}